@page "/"

<h3>Home</h3>
<p>Blazor is a .NET frontend web framework that supports both server-side rendering and client interactivity in a single programming model:</p>
<ul>
    <li>Create rich interactive UIs using C#.</li>
    <li>Share server-side and client-side app logic written in .NET.</li>
    <li>Render the UI as HTML and CSS for wide browser support, including mobile browsers.</li>
    <li>Build hybrid desktop and mobile apps with .NET and Blazor.</li>
</ul>
<p>
    Razor syntax: <a target="_blank" href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor">here</a>
    <br/>
    Blazor document: <a target="_blank" href="https://learn.microsoft.com/en-gb/aspnet/core/blazor">here</a>
    <br/>
    Blazor University: <a target="_blank" href="https://blazor-university.com">here</a>
</p>