@page "/"

<h3>Home</h3>
<p>
    Razor syntax: <a target="_blank" href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor">https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor</a>
</p>