@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    - Default render mode: static SSR (content used for SEO) and UI updated by hosting model of app (check web response) <br/>
    - Specific render mode by directive @@rendermode in component or when it used<br/>
    - Inherit render mode by mode of parent<br/>
    - Component has interative use mode: InteractiveServer. Notice: OnInitializedAsync run twice, web socket opened in first time (or closed)<br/>
    - User attribute StreamRendering to support lazy load data (see Weather)
</p>