@page "/localization"
<h3>Localization</h3>

<p>
    - The main idea is to configure the current CultureInfo used before the client app start or for each request in server mode.<br/>
    - The browser needs to reload after changing the language <br/>
    - Globalization: use methods ToString, Parse, TryParse to format, parse value of int, double, DateTime,... <br/>
    - Localization: use resource files to define dictionary, inject service IStringLocalizer to get text in dictionary
</p>
<p>
    <a target="_blank" href="https://code-maze.com/localization-in-blazor-webassembly-applications/">Implementing Localization in Blazor WebAssembly (Client-side)</a>
</p>
<p>
    <a target="_blank" href="https://learn.microsoft.com/en-gb/aspnet/core/fundamentals/localization/select-language-culture">Configure Localization middleware (Server-side)</a>
</p>
@code {

}
