@page "/"
@inject CountService countSvc;
@inject ScopedCountService scopedSvc;

<p>
    Blazor Server is a hosting model where the Blazor application runs on the server and the UI updates are sent to the client over a SignalR connection.<br/>
    The client's browser only needs to handle user input and display updates, resulting in a lightweight client-side experience.<br/>
    Blazor Server is suitable for applications that require real-time updates, such as chat applications or collaborative editing tools
</p>

<h3>Server services</h3>
<div>open multiple broswer, tab to check service</div>

<h4>Global services, single instance for all clients</h4>
<div>
    Count: <span>@countSvc.Count</span>
    <button @onclick="countSvc.Increase">Add</button>
</div>

<h4>Scoped services, individual instance for each connection Http request</h4>
<div>
    Count: <span>@scopedSvc.Count</span>
    <button @onclick="scopedSvc.Increase">Add</button>
</div>