@page "/mvvm/partital"

<h3>PartialClass</h3>
<p>
    - Model written in a file .razor.cs<br />
    - Use directives in view or attribute in class <br/>
    - Model and View are same scope
</p>

<div>
    <button @onclick="Inc">Count: @Count</button>
</div>